<html>
<head>
	<title></title>
	<style>
body{
background:linear-gradient(45deg,yellow,lightgreen,lightblue,skyblue,lawngreen,cyan,salmon);
}
h1{
text-align:center;
font-size:48px;
}	
img{
border-radius:50%;

}
    </style>
	<script>
	document.write('<h1>Масиви</h1><br>');
	var milk=prompt('Введіть кількість літрів');
	var count=prompt('Введіть ціну за 1 літр');
	document.write('<h2>До сплати - ',milk*count,' грн.</h2><br><img src="milk.gif"><br>');
	var days=['Monday','Tuesday','Wednesday','Thursday','Friday'];
	document.write('<h2>',days,'</h2><br>');
	//document.write(days[0]);
	var items=['ball'];
	document.write('В мене є ',items.length,' предметів');
	</script>
</head>
<body>
<h3>Взяти у школу</h3>
<ol>
<li>Олівець ♫</li>
<li>Ручка ☺</li>
<li>Зошит ☻</li>
<li>Підручник ☺</li>
<li>Гумка </li>
<li>Яблуко</li>
<li>Лінійка</li>
</ol>

</body>
</html>